{% extends "base.html" %}

{% block content %}
<div class="container">
    {% block page_content %}
    
    <h1>Processing Result</h1>

    <p>Success!</p>
    <p>{{name}} has been added to the {{tree_name}} family tree with the person id {{result}}</p>
    <p>Mother from form: {{mother}}. Added with relationship ID: {{mother_rel_id}}</p>
    <p>Father from form: {{father}}. Added with relationship ID: {{father_rel_id}}</p>
    <p>Partner frm form: {{partner1}}. Added with relationship ID: {{union1_rel_id}}</p>
    <p>Child from form: {{child1}}. Added with relationship ID: {{child1_rel_id}}</p>
    

{% endblock  %}
</div>
{% endblock content %}