{% extends "base.html" %}

{% block content %}
<div class="container">
    {% block page_content %}
    <h1>Edit a person</h1>
    

    <form action="/edit_person" method="post" enctype="multipart/form-data">
        <div>
            <div>
                <label>Name:</label>
                <input type="text" name="name" value="{{person.name}}"/>
            </div>
            <div class="mb-3">
                <label for="parent1" class="form-label">Parent 1</label>
                <select class="form-select" id="parent1" name="parent1">
                    <option value="blank">-- None --</option>
                    {% for p in people %}
                         <option {% if parents != "No parents set" %}{% if p.id == parents[0].parent_id %}selected {% endif %}{% endif %}value="{{ p.id }}">{{ p.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="parent2" class="form-label">Parent 2</label>
                <select class="form-select" id="parent2" name="parent2">
                    <option value="blank">-- None --</option>
                    {% for p in people %}
                         <option {% if parents != "No parents set" %}{% if p.id == parents[1].parent_id %}selected {% endif %}{% endif %}value="{{ p.id }}">{{ p.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label>Birth year:</label>
                <input type="text" name="birth_year" value="{{birth_date.year}}" required />
            </div>
            <div>
                <label>Birth month:</label>
                <input type="text" name="birth_month" value="{{birth_date.month}}" required >
            </div>
            <div>
                <label>Birth day:</label>
                <input type="text" name="birth_day"  value="{{birth_date.month}}" required />
            </div>
            <div>
                <label>Birth place:</label>
                <input type="text" name="birth_place" value="{{person.birth_place}}" />
            </div>
            <div>
                <label>Death year:</label>
                <input type="text" name="death_year"  value="{{death_date.year}}" />
            </div>
            <div>
                <label>Death month:</label>
                <input type="text" name="death_month" value="{{death_date.month}}" />
            </div>
            <div>
                <label>Death day:</label>
                <input type="text" name="death_day" value="{{death_date.day}}" />
            </div>
            <div>
                <input type="hidden" name="person_id" value="{{person.id}}" />
                <button type="submit">Go</button>
            </div>
        </div>
    </form>
    <div>
        <p><br /><strong>Partners</strong></p>

        <ul>
            {% for partner in partners %}
            <li>{{partner.partner_name}} <a href="/remove_relationship?rel_id={{partner.relationship_id}}&return_id={{person.id}}">Remove</a></li>
            {% else %}
            <li><em>No partners found</em></li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <p><br /><strong>Children</strong></p>

        <ul>
            {% for child in children %}
            <li>{{child.child_name}} <a href="/remove_relationship?rel_id={{child.relationship_id}}&return_id={{person.id}}">Remove</a></li>
            {% else %}
            <li><em>No children found</em></li>
            {% endfor %}
        </ul>
    </div>

   

{% endblock  %}
</div>
{% endblock content %}