{% extends "base.html" %}

{% block content %}
<div class="container">
    {% block page_content %}

    <h1>{{ header}}</h1>
    <p>Horizontal | <a href="vertical?tree_id={{tree_id}}">Vertical</a></p>
   
    
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="/static/tree/js/d3-dag.js"></script>
    <script src="tree_data.js?tree_id={{tree_id}}"></script>
    <script src="/static/tree/js/familytree.js"></script>
    <script>
        // insert svg object to hold the family tree
        const svg = d3.select("body").append("svg")
            .attr("width", document.body.offsetWidth)
            .attr("height", document.documentElement.clientHeight);

        // make family tree object
        let FT = new FamilyTree(data, svg);

        // draw family tree
        FT.draw();
    </script>

{% endblock  %}
</div>
{% endblock content %}
