{% extends "base.html" %}

{% block content %}
<div class="container">
    {% block page_content %}
    <h1>Upload two CSV files</h1>

    <form action="{{ url_for('handle_upload') }}" method="post" enctype="multipart/form-data">
      <div>
        <form>
  
        <br /><label>People CSV:</label>
        <input type="file" name="csv1" accept=".csv" required>
      </div>
      <div>
        <br /><label>Relationships CSV:</label>
        <input type="file" name="csv2" accept=".csv" required>
      </div>
      <br /><button type="submit">Upload & Continue</button>
    </form>
{% endblock  %}
</div>
{% endblock content %}